body{
	padding-top: 15px;
	font-family: 'Space Mono', monospace;

}

/*Classes------------------------------*/
.container{
	padding: 5vh;
}
/*pictures displayed in the table content*/
.charactersIMG{
	height:15vh;
	width: 15vh;
}
.dropdown{
	width:5%;
	height:25px;
}
/*label classes*/
.lb-sm {
  font-size: 14px;
}

.lb-md {
  font-size: 18px;
}

.lb-lg {
  font-size: 22px;
}
/*labels*/
.tableHeaderHome{
	color:white;
}
/*Classes------------------------------*/

/*ID's------------------------------*/
/*starwars img inside the navbar*/
#starWarsImg{
	padding-bottom: 7vh;
	width: 70px;
}
/*id for the whole navbar*/
#navBar{
	/*padding-bottom: 10px;*/
	font-family: 'Droid Sans Mono', monospace;
}
#searchBar{
	padding-right: 80px;
	width:100%;
}

#errorLoading{
	/*color:red;*/
}
/*ID's------------------------------*/
